<div class="container app">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />

  <div class="row">
    <div class="col-sm-8">
      <h1 class="text-center">
        {{ title }}
      </h1>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissable" *ngIf="msg">
        <a href="#" class="close" (click)="closeAlert()"> &times; </a>
        {{ msg }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h2>Registrar Libros:</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="id" class="control-label col-sm-2"> Id </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="id"
              name="id"
              (ngModel)="(model.id)"
              placeholder="Ingresa el código del libro"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="nombre" class="control-label col-sm-2">
            Nombre
          </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              (ngModel)="(model.nombre)"
              placeholder="Ingresa el nombre del libro"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="nombre_autor" class="control-label col-sm-2"> Nombre del autor </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="nombre_autor"
              name="nombre_autor"
              (ngModel)="(model.nombre_autor)"
              placeholder="Ingresa el nombre del autor"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="editorial" class="control-label col-sm-2"> Editorial </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="editorial"
              name="editorial"
              (ngModel)="(model.editorial)"
              placeholder="Ingresa la editorial del libro"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="ano_publicacion" class="control-label col-sm-2"> Año de publicación </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="ano_publicacion"
              name="ano_publicacion"
              (ngModel)="(model.ano_publicacion)"
              placeholder="Ingresa el año de publicación"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button
              type="submit"
              class="btn btn-success"
              (click)="addLibro()"
            >
              Registrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h2>Libros Registrados:</h2>
      <mat-paginator
        [length]="libros.length"
        [pageSize]="page_size"
        [pageSizeOptions]="pageSizeOptions"
        (page)="handlePage($event)"
      >
      </mat-paginator>
      <ul *ngFor="let libro of libros | paginate: page_size:page_number">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre del libro</th>
              <th>Nombre del autor</th>
              <th>Editorial</th>
              <th>Año de publicación</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{ libro.id }}</td>
              <td>{{ libro.nombre }}</td>
              <td>{{ libro.nombre_autor }}</td>
              <td>{{ libro.editorial }}</td>
              <td>{{ libro.ano_publicacion }}</td>
              <td>
                <a (click)="editLibro(i)" class="btn btn-success"> Editar </a>
                <a (click)="deleteLibro(i)" class="btn btn-danger">
                  Eliminar
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </ul>
    </div>
    <div class="col-sm-4" [hidden]="hideUpdate">
      <h2>Actualizar Información:</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="id" class="control-label col-sm-2"> Id </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="id"
              name="id"
              (ngModel)="(model2.id)"
              placeholder="Ingresa el código del libro"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="nombre" class="control-label col-sm-2">
            Nombre
          </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              (ngModel)="(model2.nombre)"
              placeholder="Ingresa el nombre del libro"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="nombre_autor" class="control-label col-sm-2"> Nombre del autor </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="nombre_autor"
              name="nombre_autor"
              (ngModel)="(model2.nombre_autor)"
              placeholder="Ingresa el nombre del autor"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="editorial" class="control-label col-sm-2"> Editorial </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="editorial"
              name="editorial"
              (ngModel)="(model2.editorial)"
              placeholder="Ingresa la editorial del libro"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="ano_publicacion" class="control-label col-sm-2"> Año de publicación </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="ano_publicacion"
              name="ano_publicacion"
              (ngModel)="(model2.ano_publicacion)"
              placeholder="Ingresa el año de publicación"
            />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button
              type="submit"
              class="btn btn-success"
              (click)="updateLibro()"
            >
              Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
